{template "content","header"}
<link href="{CSS_PATH}style/clinic/single.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{JS_PATH}clinic/single.js"></script>
<div class="about_company">
    <div class="clinic_img">
        <img src="{IMG_PATH}nanjia/nj.jpg" alt="">
    </div>
    <div class="clinic-info">
        <p> 北京南加门诊2010年筹备进入中国市场，是由美国知名医学专家、台湾优秀管理团队、大陆资深咨询公司联合打造的高端全科门诊部。
            门诊部面积1500平米，地理位置优良，交通十分便利，内外环境优雅，科室齐全，设有十几个科室，设备多为进口高档仪器，建有两个
            百级层流手术室，并具有八张高级多功能床的术后恢复室。同时与多家三甲医院有协作关系.门诊部主要面对中高端人群全程健康管理，
            以会员制为主，预约安排体检、门诊、会诊、健康咨询、健康教育等,随着门诊部业务发展，将进一步建立眼科治疗中心等专科特色。
        </p>
        <h2>品牌的核心价值观</h2>
        <ul>
            <li><h5><span>•</span>理念：</h5>
                <p>南加始终坚持客户利益最大化的原则，致力于打造南加品牌的开放式医生执业和医疗服务提供商，为医生安排优质资源对接和业务管理服务，以客户自身为出发点，提供最优的解决方案</p>
            </li>
            <div class="clear"></div>
            <li>
                <h5><span>•</span>目标：</h5>
                <p>全球医疗资源可配置，全球医疗费用可负担</p>
            </li>
        </ul>
        <div class="clear"></div>
        <div class="clinic-photo">
            <div class="indexmaindiv" id="indexmaindiv">
                <div class="indexmaindiv1 clearfix" >
                    <div class="stylesgoleft" id="goleft"></div>
                    <div class="maindiv1 " id="maindiv1">
                        <ul id="count1">
                            <li>
                                <div class="playerdetail">
                                    <div class="detailimg"><img src="{IMG_PATH}nanjia/images/areabackground/1.jpg" /></div>
                                    <div class="teadetail">诊疗室</div>
                                </div>
                            </li>
                            <li>
                                <div class="playerdetail">
                                    <div class="detailimg"><img src="{IMG_PATH}nanjia/images/areabackground/2.jpg" /></div>
                                    <div class="teadetail">诊疗室</div>
                                </div>
                            </li>
                            <li>
                                <div class="playerdetail">
                                    <div class="detailimg"><img src="{IMG_PATH}nanjia/images/areabackground/3.jpg" /></div>
                                    <div class="teadetail">诊疗室</div>
                                </div>
                            </li>
                            <li>
                                <div class="playerdetail">
                                    <div class="detailimg"><img src="{IMG_PATH}nanjia/images/areabackground/4.jpg" /></div>
                                    <div class="teadetail">诊疗室</div>
                                </div>
                            </li>
                            <li>
                                <div class="playerdetail">
                                    <div class="detailimg"><img src="{IMG_PATH}nanjia/images/areabackground/1.jpg" /></div>
                                    <div class="teadetail">诊疗室</div>
                                </div>
                            </li>
                            <li>
                                <div class="playerdetail">
                                    <div class="detailimg"><img src="{IMG_PATH}nanjia/images/areabackground/2.jpg" /></div>
                                    <div class="teadetail">诊疗室</div>
                                </div>
                            </li>
                            <li>
                                <div class="playerdetail">
                                    <div class="detailimg"><img src="{IMG_PATH}nanjia/images/areabackground/3.jpg" /></div>
                                    <div class="teadetail">诊疗室</div>
                                </div>
                            </li>
                            <li>
                                <div class="playerdetail">
                                    <div class="detailimg"><img src="{IMG_PATH}nanjia/images/areabackground/4.jpg" /></div>
                                    <div class="teadetail">诊疗室</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="stylesgoright" id="goright"></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="originator">
        <div class="title">
            <h1>创始人介绍</h1><h5>About Founder</h5>
        </div>
        <div class="founder">

        </div>
    </div>
</div>
{template "content","footer"}