{template "content","header"}
{template "content","banner"}
{template "content","notice"}
<div class="clear"></div>
<div class="container">
    <div class="aboutus">
        <div class="title">
            <h1>关于我们</h1><h5>About us</h5>
        </div>
        <div class="aboutus-con">
            <p>南加医疗管理集团是源自于美国南加州的医疗健康服务集团，特为医生安排对接资源和业务条线管理的服务提供商。
                现所涵盖的业务包括全科门诊实体、医生集团建设、医疗保险服务、药品安全使用的跨领域健康产业联合体。
            </p>

            <div class="More-btn"><a href="">MORE</a></div>
        </div>
    </div>
    <div class="especial">
        <div class="title">
            <h1>特色项目</h1><h5>Characteristic item</h5>
        </div>
        <div class="especial-con">
            <dl>
                <dt><img class="IMGgray" src="{IMG_PATH}nanjia/especial03.png" alt=""></dt>
                <dd class="es-num">01</dd>
                <dd class="es-con">多点执业</dd>
            </dl>
            <dl>
                <dt><img class="IMGgray" src="{IMG_PATH}nanjia/especial05.png" alt=""></dt>
                <dd class="es-num">02</dd>
                <dd class="es-con">家庭医生</dd>
            </dl>
            <dl>
                <dt><img class="IMGgray" src="{IMG_PATH}nanjia/especial07.png" alt=""></dt>
                <dd class="es-num">03</dd>
                <dd class="es-con">企业诊室</dd>
            </dl>
            <dl>
                <dt><img class="IMGgray" src="{IMG_PATH}nanjia/especial09.png" alt=""></dt>
                <dd class="es-num">04</dd>
                <dd class="es-con">赴外医疗</dd>
            </dl>
            <dl>
                <dt><img class="IMGgray" src="{IMG_PATH}nanjia/especial11.png" alt=""></dt>
                <dd class="es-num">05</dd>
                <dd class="es-con">培训授课</dd>
            </dl>
        </div>
    </div>
    <div class="clear"></div>
    <div class="extraBanner"></div>
    <div class="nanjia_hospital">
        <div class="title">
            <h1>南加门诊</h1><h5>South plus clinic</h5>
        </div>
        <div class="nanjia-con">
            <img src="{IMG_PATH}nanjia/nj_05.jpg" alt="">
            <img src="{IMG_PATH}nanjia/nj_07.jpg" alt="">
            <img src="{IMG_PATH}nanjia/nj_11.jpg" alt="">
            <img src="{IMG_PATH}nanjia/nj_13.jpg" alt="">
        </div>
    </div>
    <div class="mission">
        <div class="title">
            <h1>我们的使命</h1><h5>Nanjia clinic</h5>
        </div>
        <div class="mission-con">
            <dl>
                <dt><img src="{IMG_PATH}nanjia/mission_06.jpg" alt=""></dt>
                <dd class="mission-titile">最具有性价比的就医选择</dd>
                <!--<dd class="mission-bg">-->
                <!--我们通过领先的网上和移动平台，-->
                <!--为客户提供全球顶尖的医疗资源，-->
                <!--实现零现金卓越就医体验等。-->
                <!--</dd>-->
            </dl>
            <dl>
                <dt><img src="{IMG_PATH}nanjia/mission_03.jpg" alt=""></dt>
                <dd class="mission-titile">最具有性价比的就医选择</dd>
                <dd></dd>
            </dl>
            <dl>
                <dt><img src="{IMG_PATH}nanjia/mission_05.jpg" alt=""></dt>
                <dd class="mission-titile">最具有性价比的就医选择</dd>
                <dd></dd>
            </dl>
        </div>
        <div class="clear"></div>
    </div>
    <div class="resource">
        <div class="title">
            <h1>资源优势</h1><h5>Resource advantages</h5>
        </div>
        <div class="resource-con">
            <h1>我们的资源优势</h1>
            <div class="res-con_1">
                <h5>来自世界的智者</h5>
                <p>来自世界的智者来自世界的智者来自世界的智者来自世界的智者来自世界的智者来自世界的智者来自世界</p>
            </div>
            <div class="res-con_2">
                <h5>来自世界的智者</h5>
                <p>来自世界的智者来自世界的智者来自世界的智者来自世界的智者来自世界的智者来自世界的智者来自世界</p>
            </div>
            <div class="res-con_3">
                <h5>来自世界的智者</h5>
                <p>来自世界的智者来自世界的智者来自世界的智者来自世界的智者来自世界的智者来自世界的智者来自世界</p>
            </div>
        </div>
    </div>
    <div class="news">
        <div class="title">
            <h1>新闻资讯</h1><h5>News consulting</h5>
        </div>
        <div class="news-con">
            <div class="news-i"></div>
            <div class="news-l">
                <ul>
                    <li>
                        <div class="news-time" class="news-active">
                            <span class="nday">18</span><br>2017-10
                        </div>
                        <div class="news-detail">
                            <h3><a href="">高血压的危害</a></h3>
                            <p><a href="">美国有个著名的广告人说过，广告就是有毒气体。美国有个著名的广告人说过，广告就是有毒气体</a></p>
                        </div>
                    </li>
                    <li><div class="news-time">
                        <span class="nday">18</span><br>2017-10
                    </div>
                        <div class="news-detail">
                            <h3><a href="">高血压的危害</a></h3>
                            <p><a href="">美国有个著名的广告人说过，广告就是有毒气体。美国有个著名的广告人说过，广告就是有毒气体</a></p>
                        </div></li>
                    <li><div class="news-time">
                        <span class="nday">18</span><br>2017-10
                    </div>
                        <div class="news-detail">
                            <h3><a href="">高血压的危害</a></h3>
                            <p><a href="">美国有个著名的广告人说过，广告就是有毒气体。美国有个著名的广告人说过，广告就是有毒气体</a></p>
                        </div></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
{template "content","footer"}